
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Visual Metrics</title>
<style>
  body {
    background-color: #92cddd;
    background-position: center;
    background-size: cover;
  }

  /* Style for the card */
  .card {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }

  /* Style for the text */
  p {
    text-align: center;
    font-size: 40px;
    color: red;
  }
</style>
</head>
<body>
  <div class="card">
    <p>Oops! No file selected...</p>
  </div>
</body>
</html>
