{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Metrics</title>
    <link href="{% static 'css/uploadfile.css' %}" rel="stylesheet">
    <link href="{% static 'css/loader.css' %}" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="website-icon">
            <img src="{% static 'img/data-visualization.png' %}" width="50px">
            VisualMetrics
        </div>
        <div class="auth">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <div class="login">Logout</div>
            </a>
            {% else %}
            <a href="{% url 'signin' %}">
                <div class="login">Login</div>
            </a>
            <a href="{% url 'signup' %}">
                <div class="signup">Signup</div>
            </a>
            {% endif %}
        </div>
    </header>
    <div class="website-contents"></div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-box">
            <section>
                <div class="tool__header">
                    <h1 class="tool__header__title">Let's Start!</h1>
                </div>
                <div class="header-content">
                    <h1>Choose Your File</h1>
                </div>
                <label class="uploader__btn" for="file">
                    <span>Select XLS file</span>
                </label>
            </section>
            <input id="file" type="file" class="hidden" accept=" .xls ,.xlsx" name="xls_file" required>
            <div class="main">
                <button class="generate__btn" name="view_data">&nbsp;View Data&nbsp;&nbsp;&nbsp;<img src="{% static 'img/database.png' %}" width="40px" height="40px">&nbsp;</button><br><br>
                <button class="generate__btn" name="see_report">View Report&nbsp;&nbsp;<img src="{% static 'img/report-48.png' %}" width="40px" height="40px"></button><br><br>
                <button class="generate__btn" name="generate_graphs">View Graphs <img src="{% static 'img/innovation.svg' %}" width="50px" height="40px"></button>
            </div>
        </form>
        </div>

    {% comment %} <div class="loader"></div> {% endcomment %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>